@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Tagesschrift&display=swap');
body {
    font-family: 'Tagesschrift';
    background-color: #c9ced3;
}

#tentacles {
    width: 50px;
}

.header {
    display: flex;
    background-color: #a8b0bc;
    padding: 1%;
    align-items: center;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
}

.stats-container {
    display: flex;
    /* background-color: lightblue; */
    align-items: center;    
}

.stats-container:hover {
    cursor: pointer;
    box-shadow: 0 0 30px rgb(20, 57, 69);
}

.stats-card {
    background-color: #a8b0bc;
    border-radius: 7px;
    padding: 1%;
    margin: 1%;
    width: 100%;
    text-align: center;
}

#num-contributions, #total-raised, #num-games {
    font-size: 50px;
}

#games-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.game-img {
    width: 100%;
    border-radius: 5px;
    box-shadow: 0 0 10px #FFFFFF;
}

.game-card {
    background-color: #FFFFFF;
    padding: 1%;
    margin: 1%;
    width: 300px;
    text-align: center;
    border-radius: 7px;
}

.game-card:hover {
    cursor: pointer;
    box-shadow: 0 0 30px rgb(20, 57, 69);
}

#button-container {
    text-align: center;
    background-color: #DDDDDD;
}

button:hover {
    cursor: pointer;
    box-shadow: 0 0 30px rgb(127, 121, 154);
}

button {
    font-family: 'Tagesschrift';
    border: none;
    padding: 1%;
    margin: 1%;
    border-radius: 7px;
}

.extra-info {
    display: none;
    margin-top: 10px;
    background-color: #f0f0f0;
    padding: 8px;
    border-radius: 5px;
    color: #333;
    font-size: 0.95em;
}